<div id="start-modal" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content start-modal">
      <div class="modal-image"></div>
      <h1 class="modal-title">Listo? <b>A jugar!</b></h1>
      <h3 class="modal-sub-title">Recordá que ganando tenés <b>triple chance</b> en el sorteo</h3>
    </div>
  </div>
</div>
