<div id="lose-modal" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content lose-modal">
      <div class="modal-image"></div>
      <h1 class="modal-title">Perdiste!</h1>
      <div style="display: flex; width: 100%; justify-content: center;">
      	<button id="restart-button" class="modal-button-restart"> Volver a intentar</button>
      	<button id="register-button" class="modal-button-register"> Registrarme</button>
      </div>
    </div>
  </div>
</div>

