<div id="win-modal" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content win-modal">
      <div class="modal-image"></div>
      <h1 class="modal-title">Ganaste!</h1>
      <div style="display: flex; width: 100%; justify-content: center;">
        <button id="register-button-win" class="modal-button-register"> Registrarme</button>
      </div>
    </div>
      
    </div>
  </div>
</div>