
<div id='toptier-logo' class="main-toptier-logo" >
  <%=image_tag("logo.png")%>
</div>

  <!-- Arriba el logo toptier -->

<div class="main-wrapper" >
  <div class="labyrinth-container">
    <div id="clock-main" class="clock" >
      <span class="clock-seconds-title"></span>
      <div class="clock-text">Segundos</div>
    </div>

    <canvas id="demo" class="canvas-draw" width="624" height="624" style="background: white"></canvas>

    <div class="chip-container">
      <div id="chip" class="chip"></div>
    </div>
  </div>

  <div class="movements-container">
    <div id="card-movements" class="card">
      <label>Introduce los pasos aquí para resolver el laberinto </label>
    </div>
    <div style="margin-top: -85px";>
    <canvas class="canvas-draw" id="movementCanvas" width="330em" height="500em" style="background: transparent; margin-top: 110px;"></canvas>
  </div>
</div>
 <!-- Laberinto arriba -->


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ingresar jugador</h4>
      </div>
      <div class="date-modal-body modal-body">
        <%= form_for @user, url: users_path, remote: true, method: :post do |f| %>
          <div class="form-group">
            <%= f.label :Nombre, class: 'user-form' %>
            <%= f.text_field :name %>
          </div>
          <div class='block-form'>
            <%= f.label :Apellido, class: 'user-form' %>
            <%= f.text_field :last_name %>
          </div>
          <div class='block-form'>
            <%= f.label :Email, class: 'user-form' %>
            <%= f.text_field :email %>
          </div>
          <div class='block-form'>
            <%= f.label :Dirección, class: 'user-form' %>
            <%= f.text_field :address %>
          </div>
          <div class='block-form'>
            <%= f.label :Carrera, class: 'user-form' %>
            <%= f.text_field :career %>
          </div>
          <%= f.hidden_field(:won, {value: "-1"}) %>
          <div class="modal-footer">
            <%= f.submit "Registrarse", class: "btn btn-primary" %>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
