.user-form {
  text-align: right;
  margin-right: 30px;
  width: 140px
}

.block-form {
  margin-bottom: 10px;
}

.user-button{
  float: right;
  border: 1px outset black;
  background-color: black;
  height:40px;
  width:100px;
  cursor:pointer;
  font-size: 12pt;
  font-family: Lato, sans-serif;
  color: white;
}
