<!DOCTYPE html>
<html>
<head>
  <title>MakeyLabyrinth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page">
  <div id="content">
    <canvas oncontextmenu="return false;" id="labyrinth" width="250" height="250">
  </div>

</div>
<%= yield %>

</body>
</html>
